.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid #{"rgb(0 0 0 / 0.25)"};

  &__left {
    display: flex;
    gap: 3em;

    &.extend {
      background-color: #7a7a7a;
      padding-right: 2em;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 69px;
    min-height: 75px;
    height: 100%;
    background-color: #7a7a7a;

    span {
      background-color: white;
      width: 30px;
      height: 3px;
    }
  }

  &__logo {
    width: 32px;
  }

  &__left.extend &__logo {
    fill: white;
  }

  &__icon {
    display: none;
  }

  &__user {
    display: flex;
    gap: 1.5em;
    color: #7a7a7a;

    &-name {
      font-size: 1.2em;
      font-weight: 300;
      text-transform: uppercase;
    }

    &-button {
      text-align: right;
      font-size: 0.8em;
      font-weight: 300;
      user-select: none;
      cursor: pointer;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      margin-right: 2em;
      fill: #7a7a7a;
      border: 1px solid #7a7a7a;
      border-radius: 50%;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}